<h3 class="bg-info text-center">Grid Information</h3>
<!-- <ag-grid-angular 
    style="width: 1250px; height: 500px;" 
    class="ag-theme-alpine"
    [rowData]="rowData | async"
    [columnDefs]="columnDefs"
    rowSelection="multiple"
    [enableFilter]="true"
    [floatingFilter]="true"
    >
</ag-grid-angular> -->
<ag-grid-angular 
    style="width: 1200px; height: 500px;" 
    class="ag-theme-alpine"
    rowSelection="multiple"
    [rowData]="rowData | async" 
    [columnDefs]="columnDefs">
</ag-grid-angular>
