<header class="container">
  <h1>Angular 13 SPA Project</h1>
</header>
<section class="bg-info">
  <app-worker></app-worker>
  <!-- <h1 class="bg-info text-center">InterComponent Communication</h1> -->
  <!-- <app-home></app-home> -->
  <!-- <app-notify></app-notify> -->
  <!-- <app-other></app-other> -->
  <!-- <app-spa></app-spa> -->
  <!-- <app-ag-grid></app-ag-grid> -->
  <!-- <app-weather></app-weather> -->
  <!-- <app-http></app-http> -->
  <!-- <app-cart></app-cart> -->
  <!-- <app-multicomp></app-multicomp> -->
  <!-- <app-lifecycle></app-lifecycle> -->
  <!-- <app-di></app-di> -->
  <!-- <app-event></app-event> -->
  <!-- <app-stock></app-stock> -->
  <!-- <app-binding></app-binding> -->
  <!-- <app-trackby></app-trackby> -->
</section>
<footer class="bg-dark text-warning text-center">
<h3>Copy right</h3>
</footer>